{% extends "base_Home/base_home.html" %}
{% load static %}
{% block title %}Clinics{% endblock %}
{% block body %}

<div class="container margin">
    <div class="row">

        <div class="col-md-6 animate-on-scroll  col-12">
            <div class="image-container">
                <img src="{{cilnic.feature_image.url}}" alt="{{cilnic.name}}" class="img-fluid">
            </div>
        </div>

        <div class="col-md-6 animate-on-scroll  col-12">
            <div class="text-content">
                <h2>{{cilnic.name}}</h2>
                <p>{{cilnic.description}}</p>
                <h4>work hours :</h4>
                <p>{{cilnic.work_hours}}</p>
                {% if not request.user.is_authenticated %}
                <div class="button">
                    <h6>You must log in to book an appointment</h6>
                    <div>
                    <ul class="navbar-nav ms-auto"> 
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'login:sign_in' %}">sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sign-up" href="{% url 'login:sign_up' %}">sign up</a>
                    </li>
                    </ul>
                </div>
                </div>

                {% else %}
                <div class="button">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Book Now
                    </button>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    <hr>
    <h3 class="animate-on-scroll "><span style="color: #9a51a0;">Clinic</span> doctors :</h3>
    <div class="row mt-5">
        {% for doctor in doctors %}
        <div class="col-12 animate-on-scroll col-md-4 mb-4">
            <div class="doctor-card">
                <img src="{{doctor.photo.url}}" alt="{{ doctor.name }}">
                <div class="doctor-card-body">
                    <h4>{{doctor.full_name}}</h4>
                    <!--specialization -->
                    <p>{{doctor.specialization}}</p>
                </div>
                <div class="doctor-card-buttons">
                    
                    <a href="{% url 'Home:dector_detail' doctor_name=doctor.full_name %}" class="btn btn-details">View
                        Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Book an appointment at {{cilnic.name}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'Reservation:add_reservation'  cilnic.name %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Doctor" class="form-label">Doctor:</label>
                        <select id="category" name="doctor" class="form-select" required>
                            <option value="">Choose a Doctor</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.id }}">{{ doctor.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="expiration" class="form-label">Date</label>
                        <input type="date" id="expiration" name="data"
                            value="{{ product.Expiration_date|date:'Y-m-d' }}" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <select class="form-select form-select-sm" name="time_slot" aria-label="Small select example">
                            <option selected>Open this select menu</option>
                            {% if cilnic.work_hours == 'morning' %}
                            {% for time in morning_times %}
                            <option value="{{ time }}" {% if time in Reserva %}disabled{% endif %}>{{ time }}</option>
                            {% endfor %}
                            {% elif cilnic.work_hours == 'EVENING_PERIOD' %}
                            {% for time in evening_times %}
                            <option value="{{ time }}" {% if time in Reserva %}disabled{% endif %}>{{ time}}</option>
                            {% endfor %}
                            {% elif cilnic.work_hours == 'NIGHT_PERIOD' %}
                            {% for time in night_times %}
                            <option value="{{ time }}" {% if time in Reserva %}disabled{% endif %}>{{ time}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-success" value="Book now">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}