{%extends "base_Home/base_home.html"%}
{% load static %}
{% block title %}Home {% endblock %}
{% block body %}
<div class="row  h-100">
<div class="col-6 w-100 naif h-100">
<video autoplay muted loop playsinline id="hail_video_slide" data-video="1" class="mtz-lpcbi w-50 h-50 mt-5">
    <source src="https://res.cloudinary.com/dvyxhy5gu/video/upload/v1722884905/Untitled_video_-_Made_with_Clipchamp_16_emwk8v.mp4" type="video/mp4">
  </video>
</div>
<div class="col-6 w-100">
    <video autoplay muted loop playsinline id="hail_video_slide" data-video="1" class="mtz-lpcbi w-50 h-50 mt-5">
        <source src="https://res.cloudinary.com/dvyxhy5gu/video/upload/v1722884905/Untitled_video_-_Made_with_Clipchamp_16_emwk8v.mp4" type="video/mp4">
      </video>
    </div>
</div>
{% endblock %}