{% extends 'main/base.html' %}
{% block content %}
<div class="mt-52 ml-52  flex flex-col h-screen">
    <div>
        <div class="flex flex-row justify-between">
            <h2 class="text-xl font-bold">Our Doctors</h2>
        
            
        </div>
        
        <div class="flex flex-row gap-3 ">
          {% for doctor in doctors %}
        <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border mt-10 rounded-xl w-72">
            <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
              <img src="{{doctor.photo.url}}" alt="profile-picture" />
            </div>
            <div class="p-6 text-center h-2/5">
              <a href="{% url 'doctor:doctor_page' doctor.id %}" class="hover:text-teal-500 "><h4 class="block mb-2  hover:ease-linear duration-200 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900  text-nowrap">
                Dr. {{doctor.full_name}}
              </h4></a>
              {%  for clinic in doctor.clinic_set.all %}
              <p
                class="block font-sans text-base antialiased font-medium leading-relaxed  bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
                {{clinic.name}}             
                   </p>
                   {% endfor %}
            </div>
            <div class="flex justify-center p-6 pt-2 gap-7">
              <a href="#facebook"
                class="block font-sans text-xl antialiased font-normal leading-relaxed text-transparent bg-clip-text bg-gradient-to-tr from-blue-600 to-blue-400">
                <i class="fab fa-facebook" ></i>
              </a>
              <a href="#twitter"
                class="block font-sans text-xl antialiased font-normal leading-relaxed  bg-clip-text bg-gradient-to-tr from-light-blue-600 to-light-blue-400">
                <i class="fa-brands fa-x-twitter"></i>
                
              </a>
              
              <a href="#instagram"
                class="block font-sans text-xl antialiased font-normal leading-relaxed text-transparent bg-clip-text bg-gradient-to-tr from-purple-600 to-purple-400"><i
                  class="fab fa-instagram" >
                </i>
              </a>
            </div>
          </div>
        
          {% endfor %}
        </div>
    </div>

</div>
{% endblock %} 