{% load static %}

<div class="flex justify-center items-start h-screen">
    <div class="text-center">
        <img src="{% static 'images/nodata.png' %}" alt="No Data Image" class="pt-16 w-1/2 mx-auto" />
        <h1 class="text-2xl font-bold text-black pt-4">Opss! Looks like there is nothing to display for Unauthenticated User</h1>
        <p class="text-lg text-gray-500 font-semibold mt-3 mb-8">Try something else...</p>
        <a href="{% url 'accounts:sign_up' %}" class="bg-blue-800 text-white py-2 px-8 mr-4 rounded-lg shadow-md hover:bg-blue-900">Sign Up</a>
        <a href="{% url 'accounts:sign_in' %}" class="bg-gray-200 text-black py-2 px-8  rounded-lg shadow-md hover:bg-gray-200">Sign In</a>
    </div>
</div>