{% extends "base.html" %}
{% load static %}

{% block title %} Add Doctor {% endblock title %}

{% block content %}
<section class="py-12 bg-gray-100">
    <div class="max-w-4xl mx-auto px-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
            <h2 class="text-3xl font-bold text-center text-blue-800 mb-8">
               Add Doctor
            </h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="grid grid-cols-1 md:grid-cols-1 gap-3">
                    <div class="mb-4">
                        <label for="full_name" class="block text-sm font-medium text-gray-700">Full Name:</label>
                        <input type="text" id="full_name" name="full_name" placeholder="Enter full name" minlength="3" maxlength="255"  class="mt-1 p-4 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>

                    <div class="mb-4">
                        <label for="specialization" class="block text-sm font-medium text-gray-700">Specialization:</label>
                        <select id="specialization" name="specialization" required class="mt-1 p-4 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">Select Specialization</option>
                            {% for value, label in specializations %}
                                <option value="{{ value }}" {% if form.specialization.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    

                    <div class="mb-4">
                        <label for="bio" class="block text-sm font-medium text-gray-700">Bio:</label>
                        <textarea id="bio" name="bio" placeholder="Enter bio" class="mt-1 p-4 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                    </div>

                    <div class="mb-4">
                        <label for="photo" class="block text-sm font-medium text-gray-700">Photo:</label>
                        <input type="file" id="photo" name="photo" accept="image/*" class="mt-1 p-3 border border-gray-300 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                        {% if form.instance.photo %}
                            <img src="{{ form.instance.photo.url }}" alt="Current Photo" class="mt-2 w-full h-32 object-cover rounded-lg">
                        {% endif %}
                    </div>
                </div>
                
                <div class="text-center mt-8">
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white py-3 px-6 rounded-lg w-full transition duration-300">
                        Add Doctor
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
