{% extends "base.html" %}
{% load static %}

{% block title %}Doctor Detail{% endblock title %}

{% block content %}
<script>
    AOS.init();
</script>

<div class="container p-4 mx-10">
    <div class="flex flex-col md:flex-row mb-8">
        <!-- Image Section -->
        <div class="w-full md:w-1/2 mb-6 md:mb-0">
            <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}'s Photo"
                class="w-full h-[500px] object-fill rounded-xl shadow-md">    
        </div>

        <!-- Details Section -->
        <div class="w-full md:w-1/2 pl-0 md:pl-6">
            <h1 class="text-3xl font-bold mb-4 text-blue-800">{{ doctor.full_name }}</h1>
            <p class="text-gray-600 text-lg mb-4"><strong>Specialization:</strong> {{ doctor.specialization }}</p>
            <p class="text-gray-600 text-lg mb-4"><strong>Bio:</strong> {{ doctor.bio }}</p>
            
            <!-- Action Buttons -->
            {% if user.is_superuser %}
            <div class="mt-6 mb-6 flex justify-center items-center">
                <a href="{% url 'doctors:doctor_update' doctor.pk %}" class="bg-teal-500 text-white py-2 px-12 rounded-lg shadow-md hover:bg-teal-600">Edit</a>
                <form method="post" action="{% url 'doctors:doctor_delete' doctor.pk %}" class="ml-4">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white py-2 px-12 rounded-lg shadow-md hover:bg-red-600">Delete</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Clinics Section -->
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4 text-blue-800">Clinics where {{ doctor.full_name }} works</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for clinic in doctor.clinic_set.all %}
            <div class="border rounded-lg p-4 shadow-lg bg-white">
                <h4 class="text-lg font-bold">{{ clinic.name }}</h4>
                <p>{{ clinic.description|truncatewords:20 }}</p>
                <a href="{% url 'clinics:clinic_detail' clinic.pk %}" class="text-blue-600 hover:underline mt-2 block">View Clinic</a>
            </div>
            {% empty %}
            <p>No clinics found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
