@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  font-family: "Ubuntu", sans-serif !important;
}


.text-banner{
    text-align: center;
  }
.bottom {
    font-size: 1.5rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 2rem;
}
.affict {
    height: 60vh;
    position: absolute;
    background: #54c0b873;
    width: 30%;
    border-radius: 50%;
    top: 13rem;
}
.affict2 {
    position: fixed;
    height: 100vh;
    width: 52%;
    border-radius: 50%;
    right: 0;
    border: 1rem solid #12a89d36;
    top: 10%;
}
.box-dr {
    margin-top: 2rem;
}

.box {
    padding: 1.5rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.img-dr {
    max-width: 100%;
    height: auto; 
    border-radius: 0.5rem; 
    transition: opacity 1s ease-in-out; 
    opacity: 1;

}

.img-dr.fade {
    opacity: 0;
}
.img-dr,
.box h4,
.box h5,
.box p {
    transition: opacity 1s ease-in-out;
}


.box h4,
.box h5,
.box p {
    margin: 0; 
}

.boxx {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
}

.box-clinics {
    background-color: #12a89d; 
}

.box-doctors {
    background-color: #6f3280; 
}

.boxx h4 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.boxx p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.boxx .btn {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.clinic-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    border-top: 5px solid #12a89d;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition:all 0.5s;
}
.clinic-card:hover{
    background-color: #12a89d;
    color: #fff !important;
}

.clinic-image img {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.clinic-info {
    flex: 1;
}

.clinic-info h4 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.clinic-info p {
    margin-bottom: 15px;
    color: #6c757d;
}

.clinic-info .btn {
    background-color: #6f3280;
    color: white;
    border: none;
}

.clinic-info .btn:hover {
    background-color: #4b2257;
    color: #fff;
}

.doctor-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
  }
  .doctor-card img {
    width: 100%;
    height: auto;
  }
  .doctor-card-body {
    padding: 15px;
    flex: 1;
  }
  .doctor-card-buttons {
    display: flex;
    justify-content:space-around;
    padding: 15px;
  }
 
  .btn-details {
    background-color: #ffffff;
    color: #6f3280;
    border: 1px solid #6f3280 !important;
  }
  .btn-book:hover, .btn-details:hover {
    opacity: 0.9;
  }
  .btn-details:hover {
    background-color: #6f3280;
    color: #fff;
  }

  .btn-book:hover{
    background-color: #ffffff;
    color: #12a89d;
    border: 1px solid #12a89d !important;
  }
  .btn-book {
    color: #ffffff;
    background-color: #12a89d;
    
}
.animate {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  a.active {
    border-bottom: 3px solid #12a89d;
}
  .animate-on-scroll {
    opacity: 0;
  }
  .height{
    height:40%;
  }
  a.nav-link.sign-up {
    color: green !important;
    border: 1px solid green;
    border-radius: 10%;
}
footer .bg-dark{
  background-color: #a9d7d4 !important;
  color: #000;
}
.background-footer{
  background-color: #f8f9fa;
  color: #000 !important;
}
a.profile-link {
  background: #0d7c74;
  color: #fff !important;
  border-radius: 1rem;
  transition: all 0.5s;
}

a.profile-link:hover {
  background: #084f4a;
  
}

.margin{
  margin-top: 6rem;
}
.search-container.p-4.rounded.shadow-sm.bg-light {
  border-right: 5px solid #12a89d;
  border-left: 5px solid #9a51a0;
}
button#search-button {
  background: linear-gradient(to left, #9a51a0, #12a89d);
  border: none;
}
.link-clinic:hover{
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-decoration: none;

}
.link-clinic{
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
 
  

}

.doctors_sec_single {
  position: relative;
  box-shadow: 0 2px 6px 2px rgb(0 0 0/12%);
  border-radius: 8px;
  background-color: #fff;
  height: 100%;
  cursor: pointer;
  transition: .5s ease-in-out;
  overflow: hidden;
}
.doctors_sec_single_cont {
  position: relative;
  padding: 15px 25px;
}
.doctors_sec_single_img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.clinic-img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 20px; 
}

.clinic-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem; 
  color: #000;
}

.image-container {
    height: 100%; 
}

.image-container img {
    height: 100%; 
    object-fit: cover; 
    width: 100%; 
    border-radius: 0 5rem !important;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%; 
    padding: 20px; 
}

.rounded-video{
    border-radius: 15rem 0;
}
.button div{
    display: flex;
}


.button {
	display: flex !important;
	justify-content: center !important;
}
.button button {
	background: #f4f4f4;
	color: black;
	border: none;
	border-bottom: 2px solid #11a79c;
}
.button button:hover {
	background: #11a79c;
	color: #fff;
	border: none;

}
#profile .info {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile .info-item {
    flex: 1 1 200px; 
    text-align: left;
}

#profile .img img {
    border: 3px solid #ddd;
    padding: 5px; 
}