{% extends 'main/base.html' %}

{% block title %}Profile for {{ user.username }}{% endblock %}

{% block content %}
<style>
    .icon-text {
        display: flex;
        align-items: center;
        gap: 20px; 
    }
 
    .card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    a{
        color: black;
    }
    a:hover{
        color:#d3392b;

    }
    .container{
        padding-top: 4rem;
    }
</style>
<div class="d-flex align-items-center gap-3">
<svg xmlns="http://www.w3.org/2000/svg " width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
  </svg>
<h1>{{ user.first_name }} {{ user.last_name }} </h1>
</div>

<div class="container mt-2">
    <div class="row">
        <!-- Profile -->
        
        <div class="col-md-4 col-lg-3">
            <div class="card-body">
                <div class="icon-text">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                      </svg>
                      <h5 class="card-subtitle mb-2 text-muted">{{ profile.phone_number }}</h5>
                </div>
                <br> 

                <div class="icon-text">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg>
                <p class="card-text">{{ profile.address }}</p>
            </div>

            </div>
        </div>

        <!-- Reservations -->
<div class="col-md-8 col-lg-9">
    <div class="d-flex flex-column gap-3">
        <h3>My Reservations</h3>
        {% for reservation in profile.reservation_set.all %}
            <div class="card p-3 mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'clinics:clinic_detail' reservation.clinic.id %}">{{ reservation.clinic.name }}</a> 
                        <span class="time-slot">at {{ reservation.date }} {{ reservation.time_slot }}</span>
                    </h4>
                    <h5 class="card-subtitle mb-2 text-muted">
                        with <a href="{% url 'doctors:doctor_detail' reservation.doctor.id %}">{{ reservation.doctor.full_name }}</a>
                    </h5>
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <a data-bs-toggle="modal" data-bs-target="#updateModal-{{ reservation.id }}" href="#">Update</a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal-{{ reservation.id }}" href="#">Cancel</a>
                    </div>
                </div>
            </div>


<!-- Modal for Update Form -->
<div class="modal fade" id="updateModal-{{ reservation.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ reservation.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel-{{ reservation.id }}">Update Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'reservations:edit_reservation' reservation.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="clinic" value="{{ clinic.id }}">
                    <div class="mb-3">
                        <label for="doctorSelect-{{ reservation.id }}" class="form-label">Doctor</label>
                        <select class="form-control" id="doctorSelect-{{ reservation.id }}" name="doctor" required>
                            <option value="" disabled>Select a doctor</option>
                            {% for doctor in reservation.clinic.doctors.all %}
                            <option value="{{ doctor.id }}" {% if doctor.id == reservation.doctor.id %}selected{% endif %}>
                                {{ doctor.full_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dateInput-{{ reservation.id }}" class="form-label">Date</label>
                        <input type="date" class="form-control" id="dateInput-{{ reservation.id }}" name="date" value="{{ reservation.date|date:'Y-m-d' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="timeInput-{{ reservation.id }}" class="form-label">Time</label>
                        <select class="form-control" id="timeInput-{{ reservation.id }}" name="time_slot" required>
                            <option value="" disabled>Select a time slot</option>
                            {% if reservation.clinic.working_hours == '08:00-12:00' %}
                                <option value="08:00" {% if reservation.time_slot == '08:00' %}selected{% endif %}>08:00 AM</option>
                                <option value="09:00" {% if reservation.time_slot == '09:00' %}selected{% endif %}>09:00 AM</option>
                                <option value="10:00" {% if reservation.time_slot == '10:00' %}selected{% endif %}>10:00 AM</option>
                                <option value="11:00" {% if reservation.time_slot == '11:00' %}selected{% endif %}>11:00 AM</option>
                            {% elif reservation.clinic.working_hours == '12:00-16:00' %}
                                <option value="12:00" {% if reservation.time_slot == '12:00' %}selected{% endif %}>12:00 PM</option>
                                <option value="13:00" {% if reservation.time_slot == '13:00' %}selected{% endif %}>13:00</option>
                                <option value="14:00" {% if reservation.time_slot == '14:00' %}selected{% endif %}>14:00</option>
                                <option value="15:00" {% if reservation.time_slot == '15:00' %}selected{% endif %}>15:00</option>
                            {% elif reservation.clinic.working_hours == '16:00-20:00' %}
                                <option value="16:00" {% if reservation.time_slot == '16:00' %}selected{% endif %}>16:00</option>
                                <option value="17:00" {% if reservation.time_slot == '17:00' %}selected{% endif %}>17:00</option>
                                <option value="18:00" {% if reservation.time_slot == '18:00' %}selected{% endif %}>18:00</option>
                                <option value="19:00" {% if reservation.time_slot == '19:00' %}selected{% endif %}>19:00</option>
                                <option value="20:00" {% if reservation.time_slot == '20:00' %}selected{% endif %}>20:00</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Update Reservation" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
            <!-- Modal for Deletion Confirmation -->
            <div class="modal fade" id="deleteModal-{{reservation.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ reservation.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel-{{ reservation.id }}">Confirm cancle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to cancle your reservation with {{reservation.doctor.full_name }} on {{reservation.date}} ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'reservations:cancle_reservation' reservation.id %}" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
                {% empty %}
                    <p>No reservations found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}