{% extends 'main/base.html' %}
{% load static %}

{% block title %}Add Doctor{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="align-self-center mt-4">Add New Doctor</h1>
    <div class="form-container">
        <form action="{% url 'doctors:add_doctor' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            
            <div class="mb-3">
                <label for="fullNameInput" class="form-label">Full Name<span class="required-asterisk">*</span></label>
                <input type="text" class="form-control" id="fullNameInput" placeholder="Enter Full Name" name="full_name" required>
            </div>

            <div class="mb-3">
                <label for="specializationSelect" class="form-label">Specialization<span class="required-asterisk">*</span></label>
                <select name="specialization" class="form-select" required>
                    <option>Choose specialization</option>
                    {% for value, label in specialization %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="bioArea" class="form-label">Bio <span class="required-asterisk">*</span></label>
                <textarea class="form-control" id="bioArea" placeholder="Provide biography" name="bio" required minlength="10" maxlength="2000"></textarea>
            </div>

            <div class="mb-3">
                <label for="photoInput" class="form-label">Photo</label>
                <input type="file" class="form-control" id="photoInput" name="photo" accept="image/*">
            </div>
            
            <div class="mb-3">
                <input type="submit" value="Add Doctor" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

{% endblock %}