{% extends 'main/base.html' %}
{% load static %}

{% block title %}Our Doctors{% endblock %}

{% block content %}
<style>
    .card {
        overflow: hidden; 
        position: relative;
        transition: transform .3s ease-in-out; 
    }

    .card-img-top {
        transition: transform .3s ease-in-out; 
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 24px; 
        pointer-events: none;
        opacity: 0; 
        transition: opacity .3s ease-in-out; 
    }

    .card:hover .overlay-text {
        opacity: 1; 
    }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container mt-4">
    <div class="row">
        {% for doctor in doctors %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card shadow-lg">
                <a href="{% url 'doctors:doctor_detail' doctor.id %}">
                    <img src="{{ doctor.photo.url }}" class="card-img-top" alt="{{ doctor.full_name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ doctor.full_name }}</h5>
                    <hp class="align-items-center d-flex ">
                        <span class="material-symbols-outlined me-4"> stethoscope</span>
                        {{ doctor.get_specialization_display }}
                    </p>         
                       </div>

            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No doctors available.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}