{% extends "main/base.html" %}

{% block title %}Doctors Page{% endblock %}

{% block content %}
<main class="px-32 py-24">
  <h1 class="text-4xl font-semibold pt-12 pb-20">Doctors</h1>
  <ul class="flex flex-row gap-6">
    {% for doctor in doctors %}
    <div class="py-4 px-2 border-0 rounded-md shadow-sm">    
      <li class="w-[300px] flex flex-col gap-4">
        <img class="w-[280px] h-[300px] rounded-sm" src="{{ doctor.photo.url }}" >
        <h2 class="text-xl font-medium">{{ doctor.full_name }} </h2>
        <p class="text-wrap px-2 font-thin text-sm">{{ doctor.bio|truncatechars:90 }}</p>
        <hr/>
        <a class="text-blue-600" href="{% url 'doctors:doctor_detail' doctor.id %}">View More</a>
      </li>
    </div>
    {% endfor %}
  </ul>
  <div class="py-32">
    <span class="step-links">
        {% if doctors.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ doctors.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}.
        </span>
        {% if doctors.has_next %}
            <a href="?page={{ doctors.next_page_number }}">next</a>
            <a href="?page={{ doctors.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</main>
{% endblock %}