<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

    {% for doctor in doctors %}

      <div class="col">
          <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow rounded gap-2">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a href="{% url 'doctors:doctor_detail' doctor.id %}"><div class="d-flex gap-2">
                    
                <h2 class="cat p-1 ps-3 pe-3  rounded-pill text-black">{{ doctor.full_name }}</h2>
  
                </div>
  
            </div>
           
            <img src="{{doctor.photo.url}}" class="w-100 poster-thumb object-fit-cover"/>
            <div class="d-flex justify-content-between align-items-center w-100">
            <h6>{{doctor.bio}}</h6>
            </div>
  
          </div>
      </div></a>
    {% endfor %}
  
  
  </div>