{% extends 'main/base.html' %}


{% block title %} Add New Doctor{% endblock %}

{% block content %}


<div class="container">
    <h2>Add Doctor</h2>
    <div class="d-flex justify-content-evenly align-items-center mb-4">
        
        <form action="{% url 'doctors:all_doctors' %}" method="get" class="d-flex gap-3 w-70">
            <select name="category" class="form-select w-70">
                <option value="">All specialization</option>
                {% for value, label in specialization_choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            <input type="text" name="q" placeholder="Search doctor" class="form-control" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <button type="button" class="btn btn-success mb-3 " data-bs-toggle="modal" data-bs-target="#addModal">Add New Doctor</button>
    </div>    


    <table class="table table-responsive table-striped center-text-table">
        <thead>
            <tr>
                <th>doctor Name</th>
                <th>specialization </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.full_name }}</td>

                <td>{{ doctor.specialization }}</td>
                <td>
                    <a href="#" class="btn btn-outline-primary">Details</a>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#updateModal{{ doctor.id }}">Update</button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ doctor.id }}" >delete</button>
                </td>
            </tr>

            <!-- Modal delete -->
            <div class="modal fade" id="deleteModal-{{ doctor.id }}" tabindex="-1"
                aria-labelledby="deleteModalLabel-{{ doctor.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel-{{ doctor.id }}">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ doctor.full_name }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{%url 'doctors:delete_doctor' doctor.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Update Modal -->
            <div class="modal fade" id="updateModal{{ doctor.id }}" tabindex="-1" aria-labelledby="updateModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel">Update Doctor info </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex flex-column gap-2" action="{% url 'doctors:update_doctor' doctor.id %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <!-- Full Name -->
                                <input type="text" placeholder="Full Name" name="full_name" class="form-control mb-2" value="{{doctor.full_name}}" maxlength="100"/>
                                
                                <!-- Specialization -->
                                <select name="specialization" class="form-select mb-2" >
                                    <option value="{{doctor.specialization}}" selected>{{doctor.get_specialization_display}}</option>
                                    {% for value, label in specialization_choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                
                                <!-- Bio -->
                                <textarea placeholder="Bio" name="bio" class="form-control mb-2" >{{doctor.bio}}</textarea>
                                
                                <!-- Photo -->
                                <div class="mb-3">
                                    <img src="{{ doctor.photo.url }}" alt="{{ doctor.full_name }}" class="img-thumbnail mt-2 mb-2" style="max-height: 130px;">
                                    <input type="file" name="photo" class="form-control"  accept="image/*"/>

                                </div>
                                
                                <!-- Submit Button -->
                                <input type="submit" value="Create Doctor" class="btn btn-primary mt-4" />
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    <!-- add doctor modal -->

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add New Doctor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column gap-2" action="{% url 'doctors:add_doctor' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Full Name -->
                        <input type="text" placeholder="Full Name" name="full_name" class="form-control" required maxlength="100"/>
                        
                        <!-- Specialization -->
                        <select name="specialization" class="form-select" required>
                            <option value="" disabled selected>Choose Specialization</option>
                            {% for value, label in specialization_choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                        
                        <!-- Bio -->
                        <textarea placeholder="Bio" name="bio" class="form-control" required></textarea>
                        
                        <!-- Photo -->
                        <input type="file" name="photo" class="form-control" required accept="image/*"/>
                        
                        <!-- Submit Button -->
                        <input type="submit" value="Create Doctor" class="btn btn-primary mt-4" />
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}