{% extends 'main/base.html' %}

{% block title %} Sign In {% endblock %}

{% block content %}
<div class="container mx-32 flex flex-col justify-center items-center py-8">

    <h2 class="text-2xl font-bold mb-6">Sign In</h2>

    <form class="flex flex-col gap-8 w-full max-w-md" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="POST">
        {% csrf_token %}
        
        <div class="relative">
            <input type="text" class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500" placeholder="User name" name="username" required>
            <label class="absolute top-0 left-4 text-gray-600 text-sm -translate-y-5">User name</label>
        </div>

        <div class="relative">
            <input type="password" class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500" placeholder="Password" name="password" required>
            <label class="absolute top-0 left-4 text-gray-600 text-sm -translate-y-5">Password</label>
        </div>

        <button class="w-full py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600" type="submit">Sign In</button>
    </form>
</div>

{% endblock %}
