{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
{% static 'images/hospital.jpg' as background %}
<style>
  .bg-h{
    background-image: url('{{background}}');
  }
</style>
<main class="profile-page"> 
  <section class="relative block h-500-px">
    
    <div class="bg-h absolute top-0 w-full h-full bg-center bg-cover " >
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img alt="..." src="{{ user.profile.image.url }}" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
             
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center"> 
                  <a href="{% url 'registration:edit_profile' request.user.username %}"><div class="flex flex-col shadow-inner  shadow-slate-400 w-fit px-4 rounded-lg justify-center items-center py-1 hover:scale-110 duration-200 hover:ease-linear ">
                    <i class="fa-solid fa-user-pen text-2xl text-teal-400"></i>
                    <h2 class="text-blueGray-700 font-semibold uppercase">Edit profile</h2>
                  </div></a>
                </div>
                
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal  text-blueGray-700 mb-2">
              {{ user.first_name }} {{user.last_name}}
            </h3>
            <div class=" leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase ">
              <i class="fa-solid fa-envelope"></i>
              {{user.email}}
              
            </div>
            <div class="mb-2 text-blueGray-600 mt-10">
              <i class="fa-solid fa-location-dot mr-2 text-lg text-blueGray-400"></i>{{user.profile.address}}
            </div>
            <div class="mb-2 text-blueGray-600">
              <i class="fa-solid fa-phone mr-2 text-lg text-blueGray-400"></i>{{user.profile.phone_number}}
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 flex gap-3 flex-col  ">
            
            <div class="flex flex-wrap justify-center ">
              <div class="w-full lg:w-9/12 px-4">
                
                <div class="mb-4 text-lg leading-relaxed text-blueGray-700 flex flex-row">
                  <i class="fa-regular fa-calendar-check mr-2 text-2xl text-teal-500 "></i>
                  <h2 class="text-2xl">Appointments <span class="text-gray-400 text-sm">( {{user.reservation_set.all.count}} )</span></h2>
                  
              </div>
              <div class="flex flex-row mt-10 flex-wrap">
                 {% for reservation in user.reservation_set.all %}
                <div class="md:flex shadow-lg rounded-xl w-3/6">
                  <div class="p-8 ">
                  
                  <p class="block mt-1  leading-tight font-medium text-black">Date: {{reservation.date}}</p>
                  <p class="block mt-1  leading-tight font-medium text-black"> Time: {{reservation.time_slot}}</p>
                  <p class="block mt-1  leading-tight font-medium text-black">{{reservation.clinic.name}} Clinic</p>

                  <p class="mt-2 text-teal-500">Dr. {{reservation.doctor.full_name}}</p>
                  
                  <a href="{% url 'reservation:cancel_appointment' reservation.id %}" class=""> <button class="mt-5 px-36 py-1 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                      Cancel Appointment
                  </button></a>
                  </div>
              </div>
              {% endfor %}

              </div>
            
  
            
            
                 <!-- reservation card end -->
              </div>
  
               
              </div>
            </div>
            
                       
          </div>
        </div>
      </div>
    </div>
    <footer class="relative bg-blueGray-200 pt-8 pb-6 mt-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-6/12 px-4 mx-auto text-center">
        
      </div>
    </div>
  </div>
</footer>
  </section>
</main>
{% endblock %}