{% extends "base_generic.html" %}
{% block content %}
<h2>Staff Dashboard</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Manage Clinics</h3>
        <a class="btn btn-primary mb-2" href="{% url 'clinic_add' %}">Add New Clinic</a>
        <div class="list-group">
            {% for clinic in clinics %}
            <a href="{% url 'clinic_update' clinic.id %}" class="list-group-item list-group-item-action">
                {{ clinic.name }}
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <h3>Manage Doctors</h3>
        <a class="btn btn-primary mb-2" href="{% url 'doctor_add' %}">Add New Doctor</a>
        <div class="list-group">
            {% for doctor in doctors %}
            <a href="{% url 'doctor_update' doctor.id %}" class="list-group-item list-group-item-action">
                {{ doctor.full_name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
