{% extends 'main/base.html' %}

{% block title %}{{clinic.name}}{% endblock%}

{% block content %}

<div class="container d-flex flex-column gap-2">
    <h1>{{clinic.name}}</h1>
    
    <div class="d-flex flex-column gap-2">
        <img class="clinic-featureImg w-100" src="{{clinic.featureImg.url}}" />
        <h1>{{clinic.name}}</h1>
    </div>
    <p>{{clinic.description}}</p>
</div>



<div class="container">
    <hr/>
    <h2>Doctors of : {{clinic.name}}</h2>
        {% with clinic.doctor_set.all as doctors %}
            {% include 'doctors/doctors_list.html' %}
        {% endwith %}
</div>

{% endblock %}