
{% extends 'main/base.html' %}


{% block title %}Clinics Search{% endblock %}

{% block content %}
{% if clinics %}
<h2>[{{clinics.count}}] Results For '{{request.GET.search}}'</h2>
<div class="d-flex justify-content-end">
    <form action="{% url 'clinics:search_clinics_view' %}" method="GET" >

        <div class="d-flex gap-3 h-100">
            <input type="search" class="form-control" value="{{request.GET.search}}" name="search" required />
            <select name="order_by" class="form-select">
                <option value="">Order By</option>
                <option value="stock_level" {% if request.GET.order_by == 'stock_level'%} selected {% endif %}>By Stock Level</option>
                <option value="expiry_date" {% if request.GET.order_by == 'expiry_date'%} selected {% endif %}>By Expiry Date</option>
            </select>
    
            <input type="submit" value="apply" class="btn sky-bg"/>
        </div>

    </form>
</div>

{% else %}
<p class="bg-warning p-3 rounded">No results found for your search "{{request.GET.search}}"</p>
{% endif %}

<div class="row mt-2 row-cols-1 row-cols-md-3 g-4">

    {% for clinic in clinics %}
      <div class="col">
          <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow gap-2">
            <div class="d-flex align-items-center">
                <h5 class="m-0 p-0">{{clinic.name}} </h5>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex gap-2">
                    <a href="{% url 'clinics:clinic_detail_view' clinic.id %}"><img src="{{ clinic.feature_image.url }}" class=" overflow-hidden clinic-logo" /></a>
                </div>

                
            </div>

           
          
            <div class="d-flex justify-content-center" >
               <h6 class="m-0 p-0 ">Working hours:</h6><p class="d-flex ms-2 text-primary">{{clinic.working_hours.start_time}} - {{clinic.working_hours.end_time}}</p>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}