{% extends "base_generic.html" %}
{% block content %}
<h2>{{ clinic.name }}</h2>
<img src="{{ clinic.feature_image.url }}" class="img-fluid" alt="{{ clinic.name }}">
<p>{{ clinic.description }}</p>
<p><strong>Working Hours:</strong> {{ clinic.working_hours }}</p>
<h3>Doctors</h3>
<ul class="list-group">
    {% for doctor in clinic.doctors.all %}
    <li class="list-group-item">
        <a href="{% url 'doctor_detail' doctor.id %}">{{ doctor.full_name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
